Source: golang-github-aws-smithy-go
Section: golang
Priority: optional
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders:
 Thomas Goirand <zigo@debian.org>,
 Anthony Fok <foka@debian.org>,
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-golang,
 golang-any (>= 2:1.20~),
Testsuite: autopkgtest-pkg-go
Standards-Version: 4.7.0
Vcs-Browser: https://salsa.debian.org/go-team/packages/golang-github-aws-smithy-go
Vcs-Git: https://salsa.debian.org/go-team/packages/golang-github-aws-smithy-go.git
Homepage: https://github.com/aws/smithy-go
XS-Go-Import-Path: github.com/aws/smithy-go

Package: golang-github-aws-smithy-go-dev
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description: Smithy code generators for Go (library)
 This package provides Smithy code generator for go.
 .
 Smithy is a language for defining services and SDKs. It is designed to work
 with any programming language, describe services running in any environment,
 and work with any kind of transport or serialization format. It is extended
 through traits. Its models are defined by resources and operations.
